body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background: #dbdbdb;
}

p {
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.logo {
  color: #242424;
  padding-top: 15px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card p {
  margin: 0;
}

.card h4 {
  margin: 0;
}

.card div {
  margin-top: 20px;
}

.card img {
  border-radius: 10px;
  width: 221px;
  height: 251px;
}

.cards-painel {
  display: flex;
  justify-content: center;
  width: 100%;
}

.description {
  color: #242424;
}

.price {
  margin-top: 10px;
  font-weight: bold;
  color: #242424;
}

#cards-grid {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(4, 5fr);
  gap: 50px;
}
