body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

.container{
    width: 100vw;
    height: 100vh;
    background: #1e272e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color: #00d8d6;
    font-size: 31pt;
}

.left-login > h2{
    color: #00d8d6;
    font-size: 25pt;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 40px;
    background: #38414b;
    border-radius: 20px;
}

.card-login h1{
    color: #d2dae2;
    font-weight: 800;
    margin: 0;
}

.text-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text-field > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #485460;
    color: #d2dae2;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.text-field > label{
    color: whitesmoke;
    margin-bottom: 10px;
}

.text-field > input::placeholder{
    color: #808e9b;
}

.button-login{
    width: 100px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #1e272e;
    background-color: #34e7e4;
    cursor: pointer;
}

.button-login:hover {
    background-color: #00d8d6;
}