body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
    background: #1e272e;
}

p {
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.logo{
    color: #00d8d6;
    padding-top: 15px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card p {
    margin: 0;
}

.card h4 {
    margin: 0;
}

.card div {
    margin-top: 20px;
}

.card img{
    border-radius: 10px;
    width: 221px;
    height: 251px;
}

.cards-painel {
    display: flex;
    justify-content: center;
    width: 100%;
}

.description {
    color: rgba(107, 107, 107, 0.479);
}

.price {
    margin-top: 10px;
    font-weight: bold;
    color: #000000;
}

#cards-grid{
    display: flex;
    grid-template-columns: repeat(4, 5fr);
    gap: 50px;
}